<!DOCTYPE html>
<!-- 
Licensed by AT&T under 'Software Development Kit Tools Agreement.' 2013
TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION: http://developer.att.com/sdk_agreement/
Copyright 2013 AT&T Intellectual Property. All rights reserved. http://developer.att.com
For more information contact developer.support@att.com
-->
<html lang="en">
  <head>
    <title>AT&amp;T Sample Speech Application - Text To Speech </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style/common.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33466541-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl'
            : 'http://www')
          + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="pageContainer" class="pageContainer">
      <div id="header">
        <div class="logo" id="top">
        </div>
        <div id="menuButton" class="hide">
          <a id="jump" href="#nav">Main Navigation</a>
        </div>
        <ul class="links" id="nav">
          <li><a href="#" target="_blank">Full Page<img src="images/max.png" alt="" /></a> 
            <span class="divider">|&nbsp;</span> </li>
          <li><a id="SourceLink"   target="_blank">Source<img src="images/opensource.png" alt="" />
            </a><span class="divider">|&nbsp;</span> </li>
          <li><a id="DownloadLink"   target="_blank">Download<img src="images/download.png" alt="" />
            </a><span class="divider">|&nbsp;</span> </li>
          <li><a id="HelpLink"   target="_blank">Help </a></li>
          <li id="back"><a href="#top">Back to top</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="contentHeading">
          <h1>
            AT&amp;T Sample Application - Text To Speech</h1>
          <div id="introtext">
            <div>
              <b>Server Time:&nbsp;</b><%= Time.now.utc.strftime("%a, %B %d, %Y %H:%M:%S UTC") %>
            </div>
            <div>
              <b>Client Time:</b>
              <script language="JavaScript" type="text/javascript">
                var myDate = new Date();
                document.write(myDate);
              </script>
            </div>
            <div>
              <b>User Agent:</b>
              <script language="JavaScript" type="text/javascript">
                document.write("" + navigator.userAgent);
              </script>
            </div>
          </div>
        </div>
        <div class="formBox" id="formBox">
          <div id="formContainer" class="formContainer">
            <div id="formData">
              <form name="TextToSpeech" action="TextToSpeech" method="post" enctype="multipart/form-data">
                <h3>Content Type:</h3>
                <select name="ContentType" id="ContentType">
                  <option value="text/plain" selected="selected">text/plain</option>
                  <option value="application/ssml+xml">application/ssml+xml</option>
                </select>
                <h3>Content:</h3>
                <label>text/plain</label><br>
                  <textarea id="plaintext" name="plaintext" readonly="readonly" rows="4"><%= @text_content %></textarea><br>
                <label>application/ssml</label><br>
                <textarea id="ssml" name="ssml" readonly="readonly" rows="4"><%= @ssml_content %></textarea>
                <h3>X-Arg:</h3>
                <textarea id="x_arg" type="text" name="x_arg" readonly="readonly" rows="4" value="<%= settings.X_arg %>"><%= settings.X_arg %></textarea>
                <button id="btnSubmit" name="TextToSpeechButton" type="submit">
                  Submit
                </button>
              </form>
              <% if @audio %>
                <div class="successWide" align="left">
                  <strong>SUCCESS:</strong>
                  <br>
                  <audio controls="controls" autobuffer="autobuffer" autoplay="autoplay">
                    <source src="data:audio/wav;base64,<%= Base64.encode64(@audio) %>" >
                  </audio>
                  </div>
              <% end %>
              <% if @error %>
                <div class="errorWide">
                  <strong>ERROR:</strong>
                  <br>
                    <%= @error %>
                  </div>
                <% end %>
              </div><!-- end formData -->
          </div><!-- end formContainer -->
        </div><!-- end formBox -->
      </div><!-- end content -->
      <div id="footer">
        <div id="ft">
          <div id="powered_by">
            Powered by AT&amp;T Cloud Architecture
          </div>
          <p>
            The Application hosted on this site are working examples intended to be used for
            reference in creating products to consume AT&amp;T Services and not meant to be
            used as part of your product. The data in these pages is for test purposes only
            and intended only for use as a reference in how the services perform.
            <br>
            <br>
            For download of tools and documentation, please go to <a href="https://devconnect-api.att.com/"
                target="_blank">https://devconnect-api.att.com</a>
            <br>
            For more information contact <a href="mailto:developer.support@att.com">developer.support@att.com</a>
            <br>
            <br>
            © 2013 AT&amp;T Intellectual Property. All rights reserved. <a href="http://developer.att.com/"
                target="_blank">http://developer.att.com</a>
          </p>
        </div><!-- end of ft -->
      </div><!-- end of footer -->
    </div><!-- end of pageContainer -->
  </body>
</html>
