<!DOCTYPE html>
<!-- 
Licensed by AT&T under 'Software Development Kit Tools Agreement.' 2013
TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION: http://developer.att.com/sdk_agreement/
Copyright 2013 AT&T Intellectual Property. All rights reserved. http://developer.att.com
For more information contact developer.support@att.com
-->

<html lang="en"> 
  <head> 
    <title>AT&amp;T Sample Application - In App Messaging</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="style/common.css">
    <script src="scripts/utils.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33466541-1']);
      _gaq.push(['_trackPageview']);

      (function () {
       var ga = document.createElement('script');
       ga.type = 'text/javascript';
       ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl'
         : 'http://www')
       + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>
  <body>
    <div id="pageContainer">
      <div id="header">
        <div class="logo"> 
        </div>
        <div id="menuButton" class="hide">
          <a id="jump" href="#nav">Main Navigation</a>
        </div> 
        <ul class="links" id="nav">
          <li><a href="#" target="_blank">Full Page<img src="images/max.png" /></a>
          <span class="divider"> |&nbsp;</span>
          </li>
          <li>
          <a href="<%= settings.source_link %>" target="_blank">Source<img src="images/opensource.png" /></a>
          <span class="divider"> |&nbsp;</span>
          </li>
          <li>
          <a href="<%= settings.download_link %>" target="_blank">Download<img src="images/download.png"></a>
          <span class="divider"> |&nbsp;</span>
          </li>
          <li>
          <a href="<%= settings.help_link %>" target="_blank">Help</a>
          </li>
          <li id="back"><a href="#top">Back to top</a>
          </li>
        </ul> <!-- end of links -->
      </div> <!-- end of header -->
      <div id="content">
        <div id="contentHeading">
          <h1>AT&amp;T Sample Application - In App Messaging From Mobile Number</h1>
          <div class="border"></div>
          <div id="introtext">
            <div><b>Server Time:</b> <%= Time.now.utc.strftime("%a, %B %d, %Y %H:%M:%S UTC") %></div>
            <div><b>Client Time:</b> <script>document.write("" + new Date());</script></div>
            <div><b>User Agent:</b> <script>document.write("" + navigator.userAgent);</script></div>
          </div> <!-- end of introtext -->
        </div> <!-- end of contentHeading -->

        <!-- SAMPLE APP CONTENT STARTS HERE! -->

        <div class="formBox" id="formBox">
          <div id="formContainer" class="formContainer">
            <div id="sendMessages">
              <h2>Send Messages:</h2>
              <form method="post" action="submit" name="msgContentForm" >
                <div class="inputFields">
                  <input placeholder="Address" name="Address" type="text" value="<%= session[:address]  %>" />     
                  <label>Group: <input name="groupCheckBox" type="checkbox" /></label>
                  <label>
                    Message:
                    <select name="message">
                      <option value="ATT IMMN sample message">
                      ATT IMMN sample message
                      </option>
                    </select>
                  </label>
                  <label>
                    Subject:
                    <select name="subject">
                      <option value="ATT IMMN sample subject">
                      ATT IMMN sample subject
                      </option>
                    </select>
                  </label>
                  <label>
                    Attachment:
                    <select name="attachment">
                      <option value="None">None</option>
                      <% @attachments.each do |a| %>
                        <option value="<%= a %>"><%= a %></option>
                      <% end %>
                    </select>
                  </label>
                  <button type="submit" class="submit" id="sendMessage" name="sendMessage">Send Message</button>
                </div>
              </form>
              <% if @send_result %>
                <div class="successWide">
                  <strong>SUCCESS:</strong>
                  <%= @send_result %>
                </div>
              <% end %>
              <% if @send_error %>
                <div class="errorWide">
                  <strong>ERROR:</strong>
                  <%= @send_error %>
                </div>
              <% end %>
            </div> <!-- end of sendMessages -->

            <div class="lightBorder"></div>

            <div id="getMessages">
              <h2>Read Messages:</h2>
              <form method="post" action="submitGetHeaders" name="msgHeaderForm" id="msgHeaderForm">
                <div class="inputFields">
                  <input name="headerCountTextBox" type="text" maxlength="3" placeholder="Header Counter" />     
                  <input name="indexCursorTextBox" type="text" maxlength="30" placeholder="Index Cursor" />     
                  <button type="submit" class="submit" name="getMessageHeaders" id="getMessageHeaders">Get Message Headers</button>
                </div>
              </form>

              <form method="post" action="submitGetHeaderContent" name="msgContentForm" id="msgContentForm">
                <div class="inputFields">
                  <input name="MessageId" id="MessageId" type="text" maxlength="30" placeholder="Message ID" />     
                  <input name="PartNumber"id="PartNumber" type="text" maxlength="30" placeholder="Part Number" />     
                  <button  type="submit" class="submit" name="getMessageContent" id="getMessageContent">Get Message Content</button>
                </div>
              </form>
              <label class="note">To use this feature, you must be a subscriber to My AT&amp;T Messages.</label>
            </div> <!-- end of getMessages -->
          </div> <!-- end of formContainer -->

          <!-- BEGIN HEADER CONTENT RESULTS -->
          <% if @content_result %>
            <div class="successWide">
              <strong>SUCCESS:</strong>
            </div>
            <% if @image == "TEXT" %>
              <%= @content_result %>
            <% elsif @image_content == "APPLICATION/SMIL" %>
              <textarea name="TextBox1" rows="2" cols="20" id="TextBox1" disabled="disabled"><%= @content_result %></textarea>
            <% elsif @image == "IMAGE" %>
              <img src="data:<%= @image_content %>;base64,<%= Base64.encode64(@content_result) %>" />
            <% end %>
          <% end %>
          <!-- END HEADER CONTENT RESULTS -->

          <!-- BEGIN HEADER RESULTS -->
          <% if @get_result %>
            <div class="successWide">
              <strong>SUCCESS:</strong>
            </div>
            <p id="headerCount">Header Count: <%= session[:headerCountTextBox] %></p>
            <p id="indexCursor">Index Cursor: <%= @get_result['MessageHeadersList']['IndexCursor'] %></p>
            <table class="kvp" id="kvp">
              <thead>
                <tr>
                  <th>MessageId</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Received</th>
                  <th>Text</th>
                  <th>Favourite</th>
                  <th>Read</th>
                  <th>Type</th>
                  <th>Direction</th>
                  <th>Contents</th>
                </tr>
              </thead>
              <tbody>
                <% count = 0; @get_result['MessageHeadersList']['Headers'].each do |key, val| %>
                  <% rowId = "row"+count.to_s %>
                  <tr id="<%= rowId %>">
                    <td data-value="MessageId">
                      <%= key['MessageId'] %>
                    </td>
                    <td data-value="From">
                      <%= key['From'] %>
                    </td>
                    <td data-value="To">
                      <%= key['To'] %>
                    </td>
                    <td data-value="Received">
                      <%= key['Received'] %>
                    </td>
                    <td data-value="Text">
                      <% if key['Text'] %>
                        <%= key['Text'] %>
                      <% else %>
                        &#45;
                      <% end %>
                    </td>
                    <td data-value="Favorite">
                      <%= key['Favorite'] %>
                    </td>
                    <td data-value="Read">
                      <%= key['Read'] %>
                    </td>
                    <td data-value="Type">
                      <%= key['Type'] %>
                    </td>
                    <td data-value="Direction">
                      <%= key['Direction'] %>
                    </td>
                    <td data-value="Contents">
                      <% if key['MmsContent'] %>
                        <select id="<%=rowId%>attachments" onchange='chooseSelect("<%=rowId%>",this)'>
                          <option value="More..">More..</option>
                          <% key['MmsContent'].each do |p| %>
                            <option value="<%= p['PartNumber'].to_s + " - " + p['ContentName'].to_s + " - " + p['ContentType'].to_s %>">
                            <%= p['PartNumber'].to_s + " - " + p['ContentName'].to_s + " - " + p['ContentType'].to_s %>
                            </option>
                          <% end %>
                        </select>
                      <% else %>
                        &#45;
                      <% end %>
                    </td>
                  </tr>
                  <% count += 1 %>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <!-- END HEADER RESULTS -->

          <% if @get_error %>
            <div class="errorWide">
              <strong>ERROR:</strong>
              <%= @get_error %>
            </div>
          <% end %>

        </div> <!-- end of formBox -->

        <!-- SAMPLE APP CONTENT ENDS HERE! -->

      </div> <!-- end of content -->
      <div class="border"></div>
      <div id="footer">
        <div id="powered_by">
          Powered by AT&amp;T Cloud Architecture
        </div>
        <p>
        The Application hosted on this site are working examples
        intended to be used for reference in creating products to consume
        AT&amp;T Services and not meant to be used as part of your
        product. The data in these pages is for test purposes only and
        intended only for use as a reference in how the services perform.
        <br /><br />
        For download of tools and documentation, please go to 
        <a href="https://devconnect-api.att.com/" 
          target="_blank">https://devconnect-api.att.com</a>
        <br> For more information contact 
        <a href="mailto:developer.support@att.com">developer.support@att.com</a>
        <br /><br />
        &#169; 2013 AT&amp;T Intellectual Property. All rights reserved. 
        <a href="http://developer.att.com/" target="_blank">http://developer.att.com</a>
        </p>
      </div> <!-- end of footer -->
    </div> <!-- end of page_container -->
    <script>setup();</script>
  </body>
</html>
