<!DOCTYPE html>
<!-- 
Licensed by AT&T under 'Software Development Kit Tools Agreement.' 
September 2011
TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION: 
http://developer.att.com/sdk_agreement/

Copyright 2011 AT&T Intellectual Property. All rights reserved. 
http://developer.att.com

For more information contact developer.support@att.com
-->
<!--[if lt IE 7]> <html class="ie6" lang="en"> <![endif]-->
	<!--[if IE 7]>    <html class="ie7" lang="en"> <![endif]-->
		<!--[if IE 8]>    <html class="ie8" lang="en"> <![endif]-->
			<!--[if gt IE 8]><!-->
			<html lang="en"><!--<![endif]--><head> 
					<title>
						AT&amp;T Sample Speech Application - Speech to Text
						(Generic)
					</title>
					<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
					<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
					<meta http-equiv="content-type" content="text/html; charset=UTF-8">
					<link rel="stylesheet" type="text/css" href="style/common.css">
				</head>
				<body>
					<div id="pageContainer" class="pageContainer">
						<div id="header">
							<div class="logo" id="top"> 
							</div>
							<div id="menuButton" class="hide">
								<a id="jump" href="#nav">Main Navigation</a>
							</div> 
							<ul class="links" id="nav">
								<li><a href="#" target="_blank">Full Page<img src="images/max.png"></img></a>
								<span class="divider"> |&nbsp;</span>
								</li>
								<li>
								<a href="<%= settings.source_link %>" target="_blank">Source<img src="images/opensource.png"/></a>
								<span class="divider"> |&nbsp;</span>
								</li>
								<li>
								<a href="<%= settings.download_link %>" target="_blank">Download<img src="images/download.png"></a>
								<span class="divider"> |&nbsp;</span>
								</li>
								<li>
								<a href="<%= settings.help_link %>" target="_blank">Help</a>
								</li>
								<li id="back"><a href="#top">Back to top</a>
								</li></ul> <!-- end of links -->
							</div> <!-- end of header -->
							<div class="content">
								<div class="contentHeading">
									<h1>AT&amp;T Sample Application - Speech to Text</h1>
									<div id="introtext">
										<div><b>Server Time:</b> <%= Time.now.utc.strftime("%a, %B %d, %Y %H:%M:%S UTC") %></div>
										<div><b>Client Time:</b> <script>document.write("" + new Date());</script></div>
										<div><b>User Agent:</b> <script>document.write("" + navigator.userAgent);</script></div>
									</div> <!-- end of introtext -->
								</div> <!-- end of contentHeading -->
								<div class="formBox" id="formBox">
									<div id="formContainer" class="formContainer">
										<form name="SpeechToText" action="SpeechToText" method="post" enctype="multipart/form-data">
											<div id="formData">
												<h3>Speech Context:</h3>
												<select name="SpeechContext">
													<% @type_list.each do |x| %>
														<option value="<%= x %>" <%= if x.eql? @selected_type then 'selected="selected"' end %>><%= x %></option>
														<% end %>
													</select>
													<h3>Audio File:</h3>
													<select name="audio_file">
														<% @audio_file_list.each do |x| %>
															<option value="<%= x %>" <%= if x.eql? @selected_file then 'selected="selected"' end %>><%= x %></option>
															<% end %>
														</select>
														</br>
														<div id="chunked">
															<b>Send Chunked:</b>
															<input name="chkChunked" value="Send Chunked" type="checkbox" <%= "checked" if @selected_chunked %>>
														</div>
														<h3>X-Arg:</h3>
														<textarea id="x_arg" type="text" name="x-arg" readonly="readonly" rows="4" value="<%= settings.X_arg %>"><%= settings.X_arg %></textarea>
														<br><button type="submit" name="SpeechToText">Submit</button>
													</div>
												</form>
											</div>
										</div>
										<% if @result %>
											<div class="successWide" align="left">
												<strong>SUCCESS:</strong>
												<br />
												Response parameters listed below.
											</div>
											<table class="kvp">
												<thead>
													<tr>
														<th class="label">Parameter</th>
														<th class="label">Value</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="cell" align="center"><em>ResponseId</em></td>
														<td class="cell" align="center"><em><%= @result['Recognition']['ResponseId'] %></em></td>
													</tr>
													<tr>
														<td class="cell" align="center"><em>Status</em></td>
														<td class="cell" align="center"><em><%= @result['Recognition']['Status'] %></em></td>
													</tr>
													<%
if @result['Recognition']['Status'].eql? "OK" then
nbest = @result['Recognition']['NBest']
nbest.each do |key, val| %>
<tr>
	<td class="cell" align="center"><em>Hypothesis</em></td>
	<td class="cell" align="center"><em><%= key['Hypothesis'] %></em></td>
</tr>
<tr>
	<td class="cell" align="center"><em>LanguageId</em></td>
	<td class="cell" align="center"><em><%= key['LanguageId'] %></em></td>
</tr>
<tr>
	<td class="cell" align="center"><em>Confidence</em></td>
	<td class="cell" align="center"><em><%= key['Confidence'] %></em></td>
</tr>
<tr>
	<td class="cell" align="center"><em>Grade</em></td>
	<td class="cell" align="center"><em><%= key['Grade'] %></em></td>
</tr>
<tr>
	<td class="cell" align="center"><em>ResultText</em></td>
	<td class="cell" align="center"><em><%= key['ResultText'] %></em></td>
</tr>
<tr>
	<td class="cell" align="center"><em>Words</em></td>
	<td class="cell" align="center"><em><%= key['Words'].join(", ") %></em></td>
</tr>
<tr>
	<td class="cell" align="center"><em>WordScores</em></td>
	<td class="cell" align="center"><em><%= key['WordScores'].join(", ") %></em></td>
</tr>
<% end end %>
						</tbody>
					</table>
				<% end %>
				<% if @error %>
					<div class="errorWide">
						<strong>ERROR:</strong>
						<br />
						<%= @error %>
					</div>
				<% end %>
			</div> <!-- end of content -->
			<div id="footer">
				<div id="ft">
					<div id="powered_by">
						Powered by AT&amp;T Cloud Architecture
					</div>
					<p>
					The Application hosted on this site are working examples
					intended to be used for reference in creating products to consume
					AT&amp;T Services and not meant to be used as part of your
					product. The data in these pages is for test purposes only and
					intended only for use as a reference in how the services perform.
					<br><br>
					For download of tools and documentation, please go to 
					<a href="https://devconnect-api.att.com/" target="_blank">https://devconnect-api.att.com</a>
					<br> For more information contact 
					<a href="mailto:developer.support@att.com">developer.support@att.com</a>
					<br><br>
					© 2012 AT&amp;T Intellectual Property. All rights reserved. 
					<a href="http://developer.att.com/" target="_blank">http://developer.att.com</a>
					</p>
				</div> <!-- end of ft -->
			</div> <!-- end of footer -->
		</div> <!-- end of page_container -->


</body></html>
