<!DOCTYPE html>
<html lang="en"><head> 
    <title>AT&amp;T Sample Speech Application - Speech to Text (Generic)</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="style/common.css">
    <script type="text/javascript" src="scripts/util.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33466541-1']);
      _gaq.push(['_trackPageview']);

      (function () {
       var ga = document.createElement('script');
       ga.type = 'text/javascript';
       ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl'
         : 'https://www')
       + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>
  <body>
    <div id="pageContainer" class="pageContainer">
      <div id="header">
        <div class="logo" id="top"> 
        </div>
        <div id="menuButton" class="hide">
          <a id="jump" href="#nav">Main Navigation</a>
        </div> 
        <ul class="links" id="nav">
          <li>
          <a href="<%= settings.source_link %>" target="_blank">Source<img src="images/opensource.png"/></a>
          <span class="divider"> |&nbsp;</span>
          </li>
          <li>
          <a href="<%= settings.download_link %>" target="_blank">Download<img src="images/download.png"></a>
          <span class="divider"> |&nbsp;</span>
          </li>
          <li>
          <a href="<%= settings.help_link %>" target="_blank">Help</a>
          </li>
          <li id="back"><a href="#top">Back to top</a>
          </li></ul> <!-- end of links -->
        </div> <!-- end of header -->
        <div id="content" class="content">
          <div class="contentHeading">
            <h1>AT&amp;T Sample Application - Speech to Text</h1>
            <div id="introtext">
              <div><b>Server Time:</b> <%= Time.now.utc.strftime("%a, %B %d, %Y %H:%M:%S UTC") %></div>
              <div><b>Client Time:</b> <script>document.write("" + new Date());</script></div>
              <div><b>User Agent:</b> <script>document.write("" + navigator.userAgent);</script></div>
            </div> <!-- end of introtext -->
          </div> <!-- end of contentHeading -->
          <div class="formBox" id="formBox">
            <div id="formContainer" class="formContainer">
              <form name="SpeechToText" action="SpeechToText" method="post" enctype="multipart/form-data">
                <div id="formData">
                  <h3>Speech Context:</h3>
                  <select id="speechContext" onchange='hideUnless(this,"x_subContext_div","Gaming")' name="SpeechContext">
                    <% @type_list.each do |x| %>
                      <option value="<%= x %>" <%= if x.eql? @selected_type then 'selected="selected"' end %>><%= x %></option>
                    <% end %>
                  </select>
                  <div id="x_subContext_div">
                    <h3>X-SpeechSubContext</h3>
                    <select name="x_subContext" id="x_subContext">
                      <% @context_list.each do |x| %>
                        <option value="<%= x %>" <%= if x.eql? @selected_type then 'selected="selected"' end %>><%= x %></option>
                        <% end %>
                    </select>
                  </div>
                  <h3>Audio File:</h3>
                  <select name="audio_file">
                    <% @audio_file_list.each do |x| %>
                      <option value="<%= x %>" <%= if x.eql? @selected_file then 'selected="selected"' end %>><%= x %></option>
                    <% end %>
                  </select>
                  </br>
                  <div id="chunked">
                    <b>Send Chunked:</b>
                    <input name="chkChunked" value="Send Chunked" type="checkbox" <%= "checked" if @selected_chunked %>>
                  </div>
                  <h3>X-Arg:</h3>
                  <textarea id="x_arg" type="text" name="x_arg" readonly="readonly" rows="4" value="<%= settings.X_arg %>"><%= settings.X_arg %></textarea>
                  <br><button type="submit" id="btnSubmit" name="SpeechToText">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <% if @result %>
            <div class="successWide" >
              <strong>SUCCESS:</strong>
              <br />
              Response parameters listed below.
            </div>
            <table class="kvp" id="kvp">
              <thead>
                <tr>
                  <th>ResponseId</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-value="ResponseId"><%= @result.id %></td>
                  <td data-value="Status"><%= @result.status %></td>
                </tr>
              </tbody>
            </table>
            NBests:
            <% if @result.status.eql? "OK" then
                 @result.nbest.each do |n| %>
                 <table>
                   <thead>
                     <tr>
                       <th>Hypothesis</th>
                       <th>LanguageId</th>
                       <th>Confidence</th>
                       <th>Grade</th>
                       <th>ResultText</th>
                       <th>Words</th>
                       <th>WordScores</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td data-value="Hypothesis"><%= n.hypothesis %></td>
                       <td data-value="LanguageId"><%= n.language %></td>
                       <td data-value="Confidence"><%= n.confidence %></td>
                       <td data-value="Grade"><%= n.grade %></td>
                       <td data-value="ResultText"><%= n.result %></td>
                       <td data-value="Words"><%= n.words.join(", ") %></td>
                       <td data-value="WordScores"><%= n.scores.join(", ") %></td>
                     </tr>
                   </tbody>
                 </table>
                 <br>
                 <% end end %>
               <% end %>
               <% if @error %>
                 <div class="errorWide">
                   <strong>ERROR:</strong>
                   <br />
                   <%= @error %>
                 </div>
               <% end %>
             </div> <!-- end of content -->
             <div id="footer">
                <div id="ft">
                  <div id="powered_by">
                    Powered by AT&amp;T Cloud Architecture
                  </div>
                  <p>
                  The Application hosted on this site are working examples
                  intended to be used for reference in creating products to consume
                  AT&amp;T Services and not meant to be used as part of your
                  product. The data in these pages is for test purposes only and
                  intended only for use as a reference in how the services perform.
                  <br><br>
                  To access your apps, please go to 
                  <a href="https://developer.att.com/developer/mvc/auth/login" target="_blank">https://developer.att.com/developer/mvc/auth/login</a>
                  <br> For support refer to 
                  <a href="https://developer.att.com/support">https://developer.att.com/support</a>
                  <br><br>
                  © 2014 AT&amp;T Intellectual Property. All rights reserved. 
                  <a href="https://developer.att.com/" target="_blank">https://developer.att.com</a>
                  </p>
                </div> <!-- end of ft -->
              </div> <!-- end of footer -->
            </div> <!-- end of page_container -->
            <script>hideUnless("speechContext","x_subContext_div","Gaming")</script>
        </body></html>
