<!DOCTYPE html>
<!-- 
Licensed by AT&T under 'Software Development Kit Tools Agreement.' 2014
TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION: http://developer.att.com/sdk_agreement/
Copyright 2014 AT&T Intellectual Property. All rights reserved. http://developer.att.com
For more information contact developer.support@att.com
-->
<html lang="en">
  <head>
    <title>AT&amp;T Sample Application - Basic SMS Service Application</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1" />
    <meta http-equiv="refresh" content="300" />
    <link rel="stylesheet" type="text/css" href="style/common.css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33466541-1']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl'
            : 'http://www')
          + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="scripts/utils.js"></script>
  </head>
  <body onload="setup()">
    <div id="pageContainer">
      <div id="header">
        <div class="logo">
        </div>
        <div id="menuButton" class="hide">
          <a id="jump" href="#nav">Main Navigation</a></div>
        <ul class="links" id="nav">
          <li>
            <a href="<%= settings.source_link %>" target="_blank">Source<img src="images/opensource.png" /></a>
            <span class="divider"> |&nbsp;</span>
          </li>
          <li>
            <a href="<%= settings.download_link %>" target="_blank">Download<img src="images/download.png" /></a>
            <span class="divider"> |&nbsp;</span>
          </li>
          <li>
            <a href="<%= settings.help_link %>" target="_blank">Help</a>
          </li>
          <li id="back"><a href="#top">Back to top</a>
          </li>
        </ul> <!-- end of links -->
      </div>
      <!-- end of header -->
      <div id="content">
        <div id="contentHeading">
          <h1>
            AT&amp;T Sample Application - Basic SMS Service Application</h1>
          <div class="border">
          </div>
          <div id="introtext">
            <div>
              <b>Server Time:&nbsp;</b><%= Time.now.utc.strftime("%a, %B %d, %Y %H:%M:%S UTC") %></div>
            <div>
              <b>Client Time:</b>
              <script language="JavaScript" type="text/javascript">
                var myDate = new Date();
                document.write(myDate);
              </script>
            </div>
            <div>
              <b>User Agent:</b>
              <script language="JavaScript" type="text/javascript">
                document.write("" + navigator.userAgent);
              </script>
            </div>
          </div>
          <!-- end of introtext -->
        </div>
        <!-- end of contentHeading -->
        <div class="formBox" id="formBox">
          <div id="formContainer" class="formContainer">
            <div class="inputFields">
              <div id="sendSMSdiv">
                <h2>Feature 1: Send SMS</h2>
                <form method="post" action="sendSms" name="sendSMSForm" id="sendSMSForm">
                  <input placeholder="Address" name="address" id="address" type="text" value="<%= session[:sms1_address] %>" />
                  <label>
                    Message
                    <select name="message" id="message">
                      <option value="ATT SMS sample Message">ATT SMS sample message</option>
                    </select>
                  </label>
                  <label>
                    <input type="checkbox" name="chkGetOnlineStatus" id="chkGetOnlineStatus" value="True"
                        title="If Checked, Delivery status is sent to the listener, use feature 3 to view the status" />
                    Receive Delivery Status Notification<br />
                  </label>
                  <button type="submit" class="submit" name="sendSMS" id="sendSMS">Send SMS</button>
                </form>
                <% if @send_error %>
                  <div class="errorWide">
                    <strong>ERROR: </strong><br>
                    <%= @send_error %>
                  </div>
                <% elsif @send %>
                  <div class="successWide">
                    <strong>SUCCESS: </strong><br>
                    <strong>messageId: </strong><%= @send.id %><br>
                    <% if @send.resource_url %>
                      <strong>resourceURL: </strong><%= @send.resource_url %><br>
                    <% end %>
                  </div>
                <% end %>
              </div><!-- end of sendSMS -->
              <div class="lightBorder">
              </div>
              <div id="getStatusdiv">
                <h2>Feature 2: Get Delivery Status</h2>
                <form method="post" action="getDeliveryStatus" name="getStatusForm" id="getStatusForm">
                  <input placeholder="Message ID" name="messageId" id="messageId" type="text" value="<%= session[:sms_id] %>" />
                  <button type="submit" class="submit" name="getStatus" id="getStatus">Get Status</button>
                </form>
                <% if @delivery_error %>
                  <div class="errorWide">
                    <strong>ERROR: </strong><br>
                    <%= @delivery_error %>
                  </div>
                <% elsif @status %>
                  <div class="successWide">
                    <strong>SUCCESS: </strong><br>
                    <% if @status_resource_url %>
                      <strong>ResourceUrl: </strong><%= @status_resource_url %><br>
                    <% end %>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th>Message Id</th>
                        <th>Address</th>
                        <th>Delivery Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if @status.delivery_info %>
                        <% @status.delivery_info.each do |info| %>
                          <tr>
                            <td data-value="Message Id"><%= info.id %></td>
                            <td data-value="Address"><%= info.address %></td>
                            <td data-value="Delivery Status"><%= info.status %></td>
                          </tr>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
                </div>
                <!-- end of getStatus -->
                <div class="lightBorder">
                </div>
                <div id="receiveStatusdiv">
                  <h2>Feature 3: Receive Delivery Status</h2>
                <form method="get" action="refreshStatus" name="refreshStatusForm" id="refreshStatusForm">
                  <button type="submit" class="submit" name="receiveStatusBtn" id="receiveStatusBtn">
                    Refresh Notifications</button>
                </form>
                <% if @status_listener %>
                    <table>
                      <thead>
                        <tr>
                          <th>Message ID</th>
                          <th>Address</th>
                          <th>Delivery Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @status_listener.each do |status| %>
                          <% notification = status["deliveryInfoNotification"] %>
                          <% info = notification["deliveryInfo"] %>
                          <tr>
                            <td data-value="Message ID"><%= notification["messageId"] %></td>
                            <td data-value="Address"><%= info["address"] %></td>
                            <td data-value="Delivery Status"><%= info["deliveryStatus"] %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                <% end %>
              </div><!-- end of receiveStatus -->
              <div class="lightBorder">
              </div>
              <div id="getMessagesDiv">
                <h2>Feature 4: Get Messages <%= settings.short_code_1 %></h2>
                <form method="post" action="getReceivedSms" name="getMessagesForm" id="getMessagesForm">
                  <button type="submit" class="submit" name="getMessages" id="getMessages">
                    Get Messages</button>
                </form>
                <% if @received_error %>
                  <div class="errorWide">
                    <strong>ERROR: </strong><br>
                    <%= @received_error %>
                  </div>
                <% elsif @messages %>
                  <div class="successWide">
                    <strong>SUCCESS:</strong><br>
                    <strong>Messages in this batch: <strong><%= @messages.count %><br>
                      <strong>Messages pending: <strong><%= @messages.pending %><br>
                      </div>
                      <table>
                        <thead>
                          <tr>
                            <th>Message Index</th>
                            <th>Message Text</th>
                            <th>Sender Address</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% 
                            if @messages.messages then
                              @messages.messages.each do |msg|
                            %>
                            <tr>
                              <td data-value="Message Index"><%= msg.id %></td>
                              <td data-value="Message Text"><%= msg.message %></td>
                              <td data-value="Sender Address"><%= msg.sender %></td>
                            </tr>
                          <% end %>
                        <% end %>
                      </tbody>
                    </table>
                  <% end %>
                </div><!-- end of getMessages -->
              <div class="lightBorder">
              </div>
              <div id="receiveMsgs">
                <h2>Feature 5: Receive Messages <%= settings.short_code_2 %></h2>
                <form method="get" action="receiveMessages" name="receiveMessagesForm" id="receiveMessagesForm">
                  <button type="submit" class="submit" name="receiveMessages" id="receiveMessages">
                    Refresh Received Messages</button>
                </form>
                <% if @message_listener %>
                  <table>
                    <thead>
                      <tr>
                      <tr>
                        <th>DateTime</th>
                        <th>Message Id</th>
                        <th>Message</th>
                        <th>Sender Address</th>
                        <th>Destination Address</th>
                    </thead>
                    <tbody>
                      <% @message_listener.each do |msg| %>
                        <tr>
                          <td data-value="DateTime"> <%= msg['DateTime'] %></td>
                          <td data-value="Message Id"><%= msg['MessageId'] %></td>
                          <td data-value="Message"> <%= msg['Message'] %></td>
                          <td data-value="Sender Address"><%= msg['SenderAddress'] %></td>
                          <td data-value="Destination Address"><%= msg['DestinationAddress'] %></td>
                        </tr>
                      <% end %>
                  </tbody>
                </table>
              <% end %>
            </div><!-- end of receiveMsgs-->
          </div>
            <!-- end of inputFields -->
          </div>
          <!-- end of formContainer -->
        </div>
        <!-- end of formBox -->
      </div>
      <!-- end of content -->
      <div class="border">
      </div>
      <div id="footer">
        <div id="powered_by">
          Powered by AT&amp;T Cloud Architecture</div>
        <p>
          The Application hosted on this site are working examples intended to be used for
          reference in creating products to consume AT&amp;T Services and not meant to be
          used as part of your product. The data in these pages is for test purposes only
          and intended only for use as a reference in how the services perform.
          <br />
          <br />
          For download of tools and documentation, please go to <a href="https://devconnect-api.att.com/"
              target="_blank">https://devconnect-api.att.com</a>
          <br />
          For more information contact <a href="mailto:developer.support@att.com">developer.support@att.com</a>
          <br />
          <br />
          &copy; 2014 AT&amp;T Intellectual Property. All rights reserved. <a href="http://developer.att.com/"
              target="_blank">http://developer.att.com</a>
        </p>
      </div>
      <!-- end of footer -->
    </div>
    <!-- end of page_container -->
    <script type="text/javascript">setup();</script>
  </body>
</html>
